<div class="player <%= class_names(turn: game.x_turn?) %>">
  <%= image_tag 'x.svg' %>
  <%= game.player_x&.name || '...' %>
  <% if current_player && current_player.id == game.player_x_id %>
    <span>👤</span>
  <% end %>
</div>
<div class="player <%= class_names(turn: game.o_turn?) %>">
  <%= image_tag 'o.svg' %>
  <%= game.player_o&.name || '...' %>
  <% if current_player && current_player.id == game.player_o_id %>
    <span>👤</span>
  <% end %>
</div>
