<div class="<%= class_names(player: true, turn: game.x_turn?) %>"><%= image_tag 'x.svg' %><%= game.player_x_name(current_player) %></div>
<div class="<%= class_names(player: true, turn: game.o_turn?) %>"><%= image_tag 'o.svg' %><%= game.player_o_name(current_player) %></div>
