<div class="player <%= class_names(you: game.player_x == current_player, turn: game.x_turn?) %>"><%= image_tag 'x.svg' %><%= game.player_x&.name || '...' %></div>
<div class="player <%= class_names(you: game.player_o == current_player, turn: game.o_turn?) %>"><%= image_tag 'o.svg' %><%= game.player_o&.name || '...' %></div>
