<main class="games">
  <%= button_to 'New Game', Game.new, class: 'new-game' %>

  <h2>Your games</h2>
  <ul class="game-list">
    <%= render 'games', games: @yours %>
  </ul>

  <h2>Waiting for players</h2>
  <ul class="game-list">
    <%= render 'games', games: @joinable %>
  </ul>

  <h2>Other games</h2>
  <ul class="game-list">
    <%= render 'games', games: @other %>
  </ul>

  <h2>Ended</h2>
  <ul class="game-list">
    <%= render 'games', games: @ended %>
  </ul>
</main>
