<h1>Games</h1>
<%= button_to 'New Game', Game.new %>

<h2>Yours</h2>
<ul>
  <%= render @yours %>
</ul>

<h2>Joinable</h2>
<ul>
  <%= render @joinable %>
</ul>

<h2>Other</h2>
<ul>
  <%= render @other %>
</ul>

<h2>Ended</h2>
<ul>
  <%= render @ended %>
</ul>
