<main class="games">
  <h2>Your games</h2>
  <ul class="game-list">
    <%= render @yours %>
  </ul>

  <h2>Waiting for players</h2>
  <ul class="game-list">
    <%= render @joinable %>
    <li class="new-game"><%= button_to 'New Game', Game.new %></li>
  </ul>

  <h2>Other games</h2>
  <ul class="game-list">
    <%= render @other %>
  </ul>

  <h2>Ended</h2>
  <ul class="game-list">
    <%= render @ended %>
  </ul>
</main>
