<main class="games">
  <%= button_to 'New Game', Game.new, class: 'new-game' %>

  <h2>Your games</h2>
  <%= render 'list', filter: :yours %>

  <h2>Waiting for players</h2>
  <%= render 'list', filter: :joinable %>

  <h2>Other games</h2>
  <%= render 'list', filter: :other %>

  <h2>Ended</h2>
  <%= render 'list', filter: :ended %>
</main>
