<!DOCTYPE html>
<html>
  <head>
    <title>TicTacTurbo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert"><%= flash[:alert] %></div>
    <% end %>

    <% if current_player %>
      <header>
        <%= link_to_unless_current 'Games', games_path do %>
          <strong>Games</strong>
        <% end %>
        <h1>Tic-Tac-Turbo</h1>
        <%= link_to new_player_path, class: "player-link" do %>
          👤 <span><%= current_player.name %></span>
        <% end %>
      </header>
    <% end %>

    <%= yield %>
  </body>
</html>
